@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

body {
  background-color: black;
  color: #fff;
  font-family: Garamond, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Girassol", serif;
}

.nav-link {
  font-size: 1.25rem;
}

.navbar-brand {
  font-size: 2rem;
}

.form-control {
  background: #222;
  color: inherit;
}

.form-control:focus {
  background: #444;
}

table.table {
  --bs-table-bg: inherit;
  --bs-table-accent-bg: inherit;
  --bs-table-striped-color: inherit;
  --bs-table-striped-bg: inherit;
  --bs-table-active-color: inherit;
  --bs-table-active-bg: inherit;
  --bs-table-hover-color: inherit;
  --bs-table-hover-bg: inherit;
  color: inherit;
  border-color: inherit;
}

.bottle-wrapper {
  background: url("https://www.leconte.nl/dana/shelf2.jpg") repeat-x 0 0 / auto
    100%;
  min-height: 200px;
  padding: 20px 0 80px 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: flex-end;
}

.cocktail-card {
  width: 300px;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: #111;
  border: 0.1em solid;
  padding: 0.4em, 0.8em;
  position: relative;
  color: #fff;
}

.cocktail-card:hover {
  transform: scale(1.05);
  background-color: rgb(29, 6, 17);
  box-shadow: 0 0 10px #c856b7;
}

.card-img-container {
  height: 200px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}

.card-link {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

h5 {
  margin-top: 10px;
  font-style: italic;
}
